{{define "footer"}}

  <!-- Ace editor -->
  <script src="/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
  <!-- /Ace editor -->

 <script language="javascript" type="text/javascript" src="/js/dropzone.js"></script>
 </div> <!-- container -->
</div> <!-- dropzone -->
</body>
{{end}}
