{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{.Article.Title}}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/custom.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/img/favicon.png" />

  <script src="/lib/codemirror/lib/codemirror.js"></script>
  <script src="/lib/codemirror/mode/markdown/markdown.js"></script>
  <link rel="stylesheet" href="/lib/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/lib/codemirror/theme/monokai.css">

  <style type="text/css" media="screen">
      #editor { 
        position: relative; }
      .dropzone { 
        width: 100%; height: 100%; }
      .navbutton {
        display: block; }
	  .CodeMirror {
		height: auto;
	}
  </style>
</head>
<body>
  <div id="dropzone" class="dropzone">
    <div class="container">
      <div class="row"></div>
       <div class="row">
        <div class="twelve columns">  
         <a href="/a/index" class="button u-pull-left">Home</a>
         <a href="/a/about" class="button u-pull-left">About</a>
         <a href="/a/{{.Article.Id}}/edit" class="button u-pull-right">Edit</a>
         {{if .Session}}
          <a href="/u/logout" class="button u-pull-right">Logout {{.Session.User.Username }}</a>
         {{end}}
       </div>
      </div>

{{end}}
