{{define "view_page"}}
 {{template "header" .}}
  <div class="row">
   <!--<div class="twelve columns"><h1>{{.Title}}</h1></div>-->
   <div class="twelve columns"><p>{{.Article.Content}}</p></div>
  </div>
 {{template "footer" .}}
{{end}}
